.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #ab987a;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 20px -20px;
  position: fixed;
  width: 100%;
  background-color: #212121;
  color: #fefefe;

  ul {
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        color: inherit;
        position: relative;

        &:hover::after {
          transform: scaleX(1);
        }
        &::after {
          background-color: #ab987a;
          bottom: -5px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          transform: scaleX(0);
          transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          width: 100%;
        }
      }
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 0 1rem;
    width: 100%;

    input {
      padding: 0.5rem 1rem;
      border-radius: 20px;
      outline: none;
      border: 1px solid black;
      width: 15rem;
    }

    button {
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      background-color: #ab987a;
      border: none;
      border-radius: 15px;
      transition: all ease-in-out 150ms;

      &:hover {
        background-color: lighten($color: #ab987a, $amount: 10);
      }
    }
  }
}
