.info {
  width: 70%;

  .more__info {
    display: flex;
    flex-direction: row;

    .rating {
      display: flex;
      flex-direction: row;
    }

    .spacer {
      margin: 0 0.5rem;
      color: #999;
    }
  }

  .description {
    margin-top: 0.5rem;
  }
}
