@use "../../../scss/partials/variables" as *;
@use "../../../scss/partials/mixins" as *;

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
  margin: 0 1rem;

  a {
    text-decoration: none;
    color: #000;
  }
  @include media-queries($md, 999999999px) {
    margin: 0 2rem;
  }

  @include media-queries($md, $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-queries($lg, $xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-queries($xl, $xxl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-queries($xxl, 999999999px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
