@use "../../scss/partials/variables" as *;
@use "../../scss/partials/mixins" as *;

.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 30rem;
  transition: all ease-in-out 200ms;

  &:hover {
    box-shadow: #ab987aff 0px 1px 3px 0px, #ab987add 0px 1px 2px 0px;
  }

  &___info {
    margin-top: 0.75rem;
  }
}
