@use "../../scss/partials/variables" as *;
@use "../../scss/partials/mixins" as *;

.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid grey;
  height: 30rem;

  &___info {
    margin-top: 0.75rem;
  }
}
