@use "../../scss/partials/variables" as *;
@use "../../scss/partials/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .cover {
    flex-grow: 1;
  }
}
